body{
	font-family: arial, helvetica;
	background: #e8e8e8;
	margin: 0;
}

/*h1{

}*/

.container{
	width: 100%;
	max-width: 100%;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 100%;
	max-width: 100%;
}

.menu a{
	position: relative;

}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}
/*
.menu li a:hover{
	background: #ef8354;
}*/
footer a{
	text-decoration: none;
}
.container1{
	height: 0%;
	width: 100%;
	min-height: 0px;
	max-height: 0px;

}